{% extends 'base.html' %}
{% block main %}
    <section class="food-menu">
        <h1 class="header-menu">Menu</h1>
        <div class="menu-row">
         <div class="menu-col">
         <h2>Soft Drink Menu</h2>
          <div class="box">
            <div class="image">
                <img src="{{ url_for('static', filename='images/drink1.jpeg') }}">
            </div>
            <div>
                <h3>Coca Cola</h3>
                <h4>5$</h4>
            </div>
         </div>
         <div class="box">
             <div class="image">
                <img src="{{ url_for('static', filename='images/drink2.jpeg') }}">
             </div>
             <div>
                 <h3>Fanta</h3>
                 <h4>5$</h4>
             </div>
         </div>
         <div class="box">
             <div class="image">
                <img src="{{ url_for('static', filename='images/drink3.jpeg') }}">
             </div>
             <div>
                 <h3>Sprite</h3>
                 <h4>5$</h4>
             </div>
             </div>
             <div class="box">
                 <div class="image">
                    <img src="{{ url_for('static', filename='images/drink4.jpeg') }}">
                 </div>
                 <div>
                     <h3>Iced Tea</h3>
                     <h4>5$</h4>
                 </div>
             </div>
             <div class="box">
                 <div class="image">
                    <img src="{{ url_for('static', filename='images/drink5.jpeg') }}">
                 </div>
                 <div>
                     <h3>Coca Cola 0</h3>
                     <h4>6$</h4>
                 </div>
             </div>
            </div>
            <div class="menu-col">
                <h2>White Vine Menu</h2>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/vine1.jpg') }}">
                    </div>
                    <div>
                        <h3>Vincent et Marie Tricot</h3>
                        <h4>Bottel: 45$ / Glass: 10$</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/vine2.jpg') }}">
                    </div>
                    <div>
                        <h3>Le Petit Gite Sauvignon Blanc - France</h3>
                        <h4>Bottel: 30$ / Glass: 8$</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/vine3.png') }}">
                    </div>
                    <div>
                        <h3>Five Hidden Lagoons Organic Sauvignon Blanc - Spain</h3>
                        <h4>Bottel: 30$ / Glass: 8$</h4>
                    </div>
                </div>
                <h2>Red Vine Menu</h2>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/vine4.png') }}">
                    </div>
                    <div>
                        <h3>Cruse Cabernet Sauvignon - France</h3>
                        <h4>Bottel: 30$ / Glass: 8$</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/vine5.png') }}">
                    </div>
                    <div>
                        <h3>Botter Veneto, Merlot - Italy</h3>
                        <h4>Bottel: 30$ / Glass: 8$</h4>
                    </div>
                </div>
            </div>
            <div class="menu-col">
                <h2>Cocktail Menu</h2>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/Cocktail1.jpg') }}">
                    </div>
                    <div>
                        <h3>Long Island Iced Tea</h3>
                        <h4>13$</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/Cocktail2.jpeg') }}">
                    </div>
                    <div>
                        <h3>Blue Lagoon</h3>
                        <h4>12$</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/Cocktail3.jpg') }}">
                    </div>
                    <div>
                        <h3>Rainbow Paradise</h3>
                        <h4>14$</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/Cocktail4.jpg') }}">
                    </div>
                    <div>
                        <h3>Floral Gin Lemonade</h3>
                        <h4>13$</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/Cocktail1.jpg') }}">
                    </div>
                    <div>
                        <h3>Tasty Dis1</h3>
                        <h4>10$</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}