{% extends 'base.html' %}
{% block main %}
    <section class="food-menu">
        <h1 class="header-menu">Menu</h1>
        <div class="menu-row">
         <div class="menu-col">
         <h2>Breakfast Menu</h2>
          <div class="box">
            <div class="image">
                <img src="{{ url_for('static', filename='images/breakfast1.jpeg') }}">
            </div>
            <div>
                <h3>Franch Toast</h3>
                <h4>15€</h4>
            </div>
         </div>
         <div class="box">
             <div class="image">
                 <img src="{{ url_for('static', filename='images/breakfast2.jpeg') }}">
             </div>
             <div>
                 <h3>Tortila Wrap</h3>
                 <h4>15€</h4>
             </div>
         </div>
         <div class="box">
             <div class="image">
                 <img src="{{ url_for('static', filename='images/breakfast3.jpg') }}">
             </div>
             <div>
                 <h3>Irish Breakfast</h3>
                 <h4>20€</h4>
             </div>
             </div>
             <div class="box">
                 <div class="image">
                     <img src="{{ url_for('static', filename='images/breakfast4.jpg') }}">
                 </div>
                 <div>
                     <h3>Eggs Benedict</h3>
                     <h4>17€</h4>
                 </div>
             </div>
             <div class="box">
                 <div class="image">
                    <img src="{{ url_for('static', filename='images/breakfast5.jpg') }}">
                 </div>
                 <div>
                     <h3>Smashed avokado</h3>
                     <h4>17€</h4>
                 </div>
             </div>
            </div>
            <div class="menu-col">
                <h2>Lunch Menu</h2>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/food1.jpg') }}">
                    </div>
                    <div>
                        <h3>Pasta Frutti Di Mare</h3>
                        <h4>25€</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/food5.jpg') }}">
                    </div>
                    <div>
                        <h3>Chicken Leek Broccoli Risoto</h3>
                        <h4>20€</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/food2.jpg') }}">
                    </div>
                    <div>
                        <h3>Pork Vegetables</h3>
                        <h4>23€</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/food6.jpg') }}">
                    </div>
                    <div>
                        <h3>Spaghettini all'Assassina</h3>
                        <h4>20€</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/food4.png') }}">
                    </div>
                    <div>
                        <h3> Rib eye steak</h3>
                        <h4>30€</h4>
                    </div>
                </div>
            </div>
            <div class="menu-col">
                <h2>Dinner Menu</h2>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/dinner1.jpg') }}">
                    </div>
                    <div>
                        <h3>Pasta Spaghetti Bolognese</h3>
                        <h4>23€</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/food5.jpg') }}">
                    </div>
                    <div>
                        <h3>Chicken Leek Broccoli Risoto</h3>
                        <h4>20€</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/food1.jpg') }}">
                    </div>
                    <div>
                        <h3>Pasta Frutti Di Mare</h3>
                        <h4>25€</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/food4.png') }}">
                    </div>
                    <div>
                        <h3> Rib eye steak</h3>
                        <h4>30€</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{{ url_for('static', filename='images/dinner3.jpeg') }}">
                    </div>
                    <div>
                        <h3>Filet Stroganoff</h3>
                        <h4>35€</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}